# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
env/
.env

# PyInstaller
build/
dist/
*.spec.bak

# Distribution / packaging
*.egg-info/
*.egg
.eggs/
wheels/

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/
*.log

# VS Code
.vscode/

# Claude Code
.claude/
Claude.md

# Windows
Thumbs.db
desktop.ini
ehthumbs.db

# macOS
.DS_Store

# Files
Picture